{
    "chmod": "0755",
    "directories": [
        "src",
        "app"
    ],
    "files": [
        "LICENSE",
        "vendor/herrera-io/phar-update/res/schema.json"
    ],
    "finder": [
        {
            "name": "*.php",
            "exclude": ["Tests"],
            "in": "vendor"
        }
    ],
    "git-version": "package_version",
    "main": "bin/dock-cli",
    "output": "dock-cli.phar",
    "stub": true
}
